@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: url('./backgroundimg.jpg');
	background-size: cover;
	background-position: top center;
	justify-content: center;
}

main {
color: rgb(13, 0, 49);
	border: 0.4px solid;
	border-radius: 16px;
	margin-top: 10;
	padding: 50px 35px;	text-align: center;
	box-shadow: 0 4px 30px rgba(255, 0, 208, 0.5);
	backdrop-filter: blur(10px);
	width: 90%;
	max-width: 400px;
}

.slt{
	color: rgb(253, 206, 206);
	font-weight: bold;
	
}